<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Space+Grotesk"/>

body {
  margin: 0;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
  position: relative;
}

.blockade-title {
  position: absolute;
  width: 230px;
  height: 120px;
  top: 50px;
  left: 50px;
  font: 24px Space Grotesk;
  font-weight: 500;
  text-align: left;
  color: white;
}

.blockade-logo-sans-text {
  width: 30%;
}

.ld-logo {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 220px;
}
